.body {
  width: 100vw;
  height: 100vh;

  background-image: url("../img/bitcoin-and-computer-graphic-card.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;

  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  min-height: 50%;
  display: flex;
  flex-direction: column;
  padding: 1.3rem;

  justify-content: center;
  gap: 1.5rem;
  align-items: center;
  background-color: rgba(28, 28, 29, 0.644);
  margin: 0 auto;
  border-radius: 1rem;
}

@media (min-width: 868px) {
  .container {
    width: 50%;
  }
}

.form-select {
  width: 50%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.btn-info {
  color: white;
  text-transform: uppercase;
}

.modal-m {
  position: absolute;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 20rem;
  background-color: #d3e3d3;
}
.modal-m h2 {
  color: #460d62;
}

p {
  color: #460d62;
}
span {
  color: black;
  font-weight: bold;
}

.btn-cerrar {
  width: 3rem;
  margin-top: 3rem;
  background-color: #460d62;
  color: white;
  font-size: 1.5rem;
  border-radius: 10%;
  transition: all 300ms;
}

.btn-cerrar:hover {
  background-color: #460d62a8;
}

.update {
  margin-top: 1.5rem;
}

/* spinnner */

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: rgb(255, 254, 254);
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
